<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="<%- keywords %>" />
  <meta name="description" content="<%- description %>" />
  <script src="https://cdn.bootcss.com/react/15.6.1/react.min.js"></script>
  <script src="https://cdn.bootcss.com/react/15.6.1/react-dom.min.js"></script>
  <script type="text/javascript" src="//at.alicdn.com/t/font_439947_6xxm3vayxbo9lik9.js"></script>
  <style type="text/css">
    .icon {
      width: 1em; height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  </style>
 <script>
    window.__INITIAL_STATE__ = <%- stores %>;
  </script>
</head>
<body>
  <div id="root"><%- root %></div>
</body>
</html>