.container-home {
  overflow: hidden;
  width: 100%;
  height: 100%;
  // background: #a3d3e1 url('~Assets/img/app-bg.jpg') no-repeat fixed top;
  background: #a3d3e1 url('http://oo6vyt0qs.bkt.clouddn.com/app-bg.jpg') no-repeat fixed top;
  background-size:cover;
  >.app-wrap {
    display: flex;
    flex-wrap: wrap;
    >li {
      text-align: center;
      display: block;
      width: 100px;
      height: 124px;
      margin: 20px;
      a {
        text-decoration:none;
      }
      .app-icon {
        .icon {
          width: 100px;
          height: 100px;
          color: #29b6f6;
        }
      }
      .app-name {
        padding: 0;
        margin: 0;
        font-size: 18px;
        color: white;
      }
    }
    
  }
  > h1 {
    color: pink;
    font-size: 50px;
  }
}